/* *{
  margin: 0;
  bottom: 0;
  box-sizing: border-box;

} */

.navigation {
  display: flex;
  align-items: center;
  position: relative; /* Добавьте этот стиль */
}


.hamburger {
  display: none;
  cursor: pointer;
}

.line {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

.menu {
  display: flex;
  list-style: none;
}

/* li {
  display: inline-block;

} */

@media screen and (max-width: 720px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #a57676;
    padding: 10px;
  }

  .toggle-nav:checked ~ .navigation .menu {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
