* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    max-width: 80%;
    margin: auto;

}

header {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    border: 1px solid #2e2828;
}

address {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
    color: aliceblue;


}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.logo:hover p {
    color: #F26522 ;


    ;
}

.logo img:nth-child(2),
.logo:hover img:nth-child(1) {
    display: none;
}
.logo:hover img:nth-child(2) {
    display: block;
}


.name {
    display: flex;
    flex-direction: column;
    align-items: auto;
    justify-content: space-evenly;
}

.galary {
    display: flex;
    flex-wrap: wrap;
    align-content: last baseline;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    /*margin: auto;*/
    align-items: center;
    min-width: 30%;
}

.copyrights {
    display: block;
    margin: auto;
    width: 50%;
   /* border: 1px solid #a24141; */
   text-align: center;
    padding-top: 5%;
    /* margin-left: 30%; */
    /* padding-top: 5%; */
}

p {
    color: rgb(223, 238, 238);
}

body {
    width: 100%;
    height: 100vh;
    background: url(/IMG/background\ 1.png) center/cover;
}